* {
    margin: 0;
    padding: 0;
}

.fondo {
    background-image: url(../img/fondo_admin.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.accordion-button {
    background-color: black;
    color: white;
}


header {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(238,238,248,1) 35%, rgba(0,0,0,1) 100%);
    color: black;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    border-bottom: 3px solid;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 15);

}
header span{
    padding-left: 5rem;
    font-size: larger;
}

footer {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(238,238,248,1) 35%, rgba(0,0,0,1) 100%);
    color: black;
    font-weight: bold;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top: 3px solid;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 15);

}
footer span{
    padding-left: 5rem;
    font-size: larger;
}

.contenedorEspecialidades {
    background-color: white;
    border: 2px solid;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 15);

    padding: 0;
}

.contenedorMedicos {
    display: flex;
    flex-wrap: wrap;
    

}

.h2Esp {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(152, 189, 231);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cardMedico {
    flex-basis: calc(50% - 10px);
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 15);
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

@media screen and (max-width: 768px){
.fondo{
        background-image: none;
        background-color: gray;

}
.contenedorEspecialidades{
    width: 85%;
    margin-top: 1rem;
}

.contenedorMedicos{
    display: block;
}
}